.span-change-login-link {
  text-decoration: underline;
  margin-left: 5px;
  color: #5f6fff;
}
.login-bg {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-bg form {
  width: 300px;
  padding: 30px 20px;
  border: 1px solid #d4d4d4;
  box-shadow: 0px 20px 50px 0px #5f6fff1a;
  border-radius: 10px;
}
.login-header {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #323232;
  text-align: center;
}
.login-header span {
  color: #5f6fff;
}
.login-col-div {
  margin: 10px 0;
  display: flex;
  flex-direction: column;
}
.login-col-div input {
  /* width: 90%; */
  margin: 8px 0;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #d4d4d4;
  border-radius: 5px;
}
.login-btn-admin-panel {
  padding: 10px 20px;
  background-color: #5f6fff;
  color: #ffffff;
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 10px;
}
.form-container-login {
  display: flex;
  flex-direction: column;
}
