.about-bg {
  margin: 20px 0px;
}
.about-top-section {
  display: flex;
  justify-content: space-between;
  margin: 40px 0px;
}
.about-img {
  width: 30%;
  height: auto;
}
.about-flex-2 {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 20px;
  gap: 30px;
}
.about-us-header {
  font-size: 40px;
  font-weight: bold;
  color: #4b5563;
  text-align: center;
}
.about-us-header span {
  color: #000;
}
.about-paras {
  color: #4b5563;
  font-size: 20px;
  line-height: 26px;
}
.about-us-center-heading {
  color: #4b5563;
}

/* about-us-last-container */
.about-us-last-container {
  margin: 35px 0px;
  display: flex;
  margin-bottom: 50vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.about-us-last-container-child {
  border: 1px solid #ababab;
  padding: 40px;
}
.about-us-headings {
  font-size: 24px;
  font-weight: bold;
  color: #1f2937;
  margin-bottom: 15px;
}
.about-us-paras {
  color: #4b5563;
}
