.home-header-bg {
  background-color: #5f6fff;
  margin: 15px 0px;
  border-radius: 10px;
  /* padding: 10px 12px; */
}
.home-header-flex-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home-header-flex-left {
  flex: 1;
  padding-left: 40px;
}
.home-header-flex-right {
  flex: 1;
}
.header_img {
  width: 90%;
  padding-top: 100px;
}
.flex-row-home {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 5px 0px;
}
.home-header-main-para {
  font-size: 45px;
  color: #fff;
  font-weight: bold;
}
.home-header-second-para {
  font-size: 18px;
  color: #fff;
  font-weight: 500;
}
.home-header-button {
  background-color: #fff;
  color: #5f6fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 20px;
  margin-top: 10px;
}

.home-section-two {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 0px;
  margin-top: 50px;
}
.home-sec-two-h2 {
  font-size: 40px;
  color: #1f2937;
  font-weight: bold;
}
.home-sec-two-p {
  /* width: 30vw; */
  color: #4b5563;
  align-items: center;
  margin: 5px;
}
.home-flex-row-sec-2 {
  margin: 30px 0px;
  display: flex;
  gap: 10px;
  align-items: center;
}
.each-speciality-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.speciality-img-home {
  width: 110px;
  height: 110px;
}
.speciality-name-home {
  font-size: 16px;
  color: #4b5563;
}
.all-docters-containers-home {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 12px;
  margin: 25px 0px;
}
.each-doctor-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border: 1px solid #c9d8ff;
  border-radius: 10px;
  cursor: pointer;
  width: 80%;
}
.each-doctor-home img {
  /* width: 230px; */
  /* width: 100%; */
  object-fit: cover;
}
.doctor-img-home {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #eaefff;
}
.third-sec-home-top-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-more-dr-btn {
  padding: 12px;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: #eaefff;
  border-radius: 20px;
  transition: background-color 0.3s ease;
  width: 120px;
  color: #4b5563;
}
.home-btn-con {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}
.doctor-info-home {
  padding: 5px;
}
.dot-span {
  font-size: 16px;
  color: #0fbf00;
}
.doctor-available-home {
  color: #0fbf00;
}
/* fourth-section-home */
.fourth-section-home {
  margin: 40px 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #5f6fff;
  border-radius: 12px;
  position: relative;
  padding: 20px 12px;
}
.fourth-section-home-left {
  flex: 1;
  padding: 20px;
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  /* flex-direction: column; */
}

.fourth-section-home-left p {
  color: #ffffff;
  font-size: 50px;
  font-weight: bold;
}
.fourth-section-home-left button {
  background-color: #ffffff;

  color: #5f6fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 20px;
  font-size: 22px;
  margin-top: 12px;
}
.fourth-section-home-right {
  align-self: flex-end;
  justify-self: flex-end;
}
.fourth-section-home-img {
  width: 23%;
  position: absolute;
  right: 10%;
  bottom: 0%;
}

@media screen and (max-width: 799px) {
  .home-header-flex-row {
    flex-direction: column;
    gap: 0px;
  }
  .home-header-main-para {
    font-size: 28px;
    padding-top: 35px;
  }
  .flex-row-home {
    flex-direction: column;
    padding-top: 15px;
    margin-right: 20px;
  }
  .home-header-flex-left {
    padding: 10px 20px;
  }
  .home-header-second-para {
    font-size: 13px;
    padding-top: 5px;
    text-align: center;
  }
  .home-header-button {
    width: 100%;
    /* margin-left: auto; */
  }
  .header_img {
    padding-top: 20px;
    margin: 0 auto;
  }
  .home-header-flex-right {
    display: flex;
    align-items: center;
  }
  .home-section-two {
    text-align: center;
    margin-top: 60px;
  }
  .home-sec-two-h2 {
    font-size: 27px;
  }
  .home-sec-two-p {
    font-size: 14px;
    color: #4b5563;
  }
  .home-flex-row-sec-2 {
    width: 90%;
    margin: 10px 0px;
  }
  .speciality-img-home {
    width: 60px;
    height: 60px;
  }
  .speciality-name-home {
    font-size: 12px;
    white-space: nowrap;
  }
  .third-sec-home-top-content {
    text-align: center;
    margin-top: 60px;
  }
  .third-sec-home-top-content h1 {
    font-size: 26px;
    font-weight: normal;
  }
  .third-sec-home-top-content p {
    padding-top: 6px;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: normal;
  }
  .all-docters-containers-home {
    grid-template-columns: auto;
    gap: 0px;
    row-gap: 30px;
    justify-items: center;
  }
  .each-doctor-home {
    width: 95%;
  }
  .doctor-info-home {
    align-self: flex-start;
    margin-left: 20px;
    padding-bottom: 15px;
  }
  .home-more-dr-btn {
    width: 90%;
    font-size: 16px;
    margin: 50px 0;
  }
  .fourth-section-home-left p {
    font-size: 20px;
  }
  .fourth-section-home-right {
    display: none;
  }
  .fourth-section-home-left button {
    font-size: 16px;
  }
  
}
