.specific-dr-main-page {
  min-height: 80vh;
  margin: 20px 0;

  /* align-items: center; */
}
.specific-dr-details-container {
  display: flex;
}
/* .specific-dr-img-container {
  width: 30%;   
} */
.docter-img {
  background-color: #5f6fff;
  border-radius: 12px;
  width: 300px;
}
.specific-dr-details-content {
  flex: 1;
  border: 1px solid #9ca3af;
  margin-left: 20px;
  padding: 10px 30px;

  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 12px;
}
.specific-docter-name {
  color: #1f2937;
  font-size: 30px;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 12px;
}
.specific-text-rows {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #4b5563;
}
.specific-dr-experiance {
  background-color: #fff;
  color: #000;
  padding: 5px 5px;
  font-size: 12px;
  border-radius: 20px;
  border: 1px solid #4b5563;
}
.about-header {
  display: flex;
  align-items: center;
  gap: 12px;
  color: #1f2937;
  font-weight: 700;
}
.dr-about,
.dr-expriance-p {
  color: #4b5563;
}
.span-experiance {
  color: #000;
  font-weight: 500;
}
.specific-section-third {
  margin: 50px 0px;
}
.related-dr-heading {
  font-weight: 600;
  color: #1f2937;
  text-align: center;
}
.related-dr-p {
  color: #4b5563;
  text-align: center;
  margin: 8px 0;
}
.related-docters-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin: 30px 0px;
}
.each-doctor-specific {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border: 1px solid #c9d8ff;
  border-radius: 10px;
  cursor: pointer;
  /* width: 270px; */
}
.each-doctor-home img {
  /* width: 230px; */
  /* width: 100%; */
  object-fit: cover;
}

.doctor-img-specific-related {
  width: 200px;
}
.doctor-img-specific-related {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  background-color: #eaefff;
}
.doctor-info-specific {
  padding: 5px;
}
.specific-dr-section-2 {
  margin: 30px 0;
  margin-left: 320px;
}
.booking-slots-heading {
  font-size: 26px;
  font-weight: bold;
  color: #565656;
  padding: 12px 0px;
}
.booking-date-day-container {
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 10px 0;
}
.each-date-date-container {
  box-shadow: 0px 4px 12px 0px #5f6fff66;
  border-radius: 50px;
  padding: 18px 14px;
  cursor: pointer;
  text-align: center;
}
.slot-time-container {
  display: flex;
  align-items: center;
  gap: 30px;
  overflow-x: scroll;
  margin: 12px 0;
}
.slot-time-container::-webkit-scrollbar {
  display: none;
}
.time-slot {
  padding: 5px 14px;
  /* max-width: 100px; */
  border: 1px solid #9ca3af;
  border-radius: 20px;
  box-shadow: 0px 3px 3px 0px #5f6fff66;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  margin: 10px 0;
  cursor: pointer;
}
.appoinement-btn {
  background-color: #5f6fff;
  color: #fff;
  font-size: 16px;
  padding: 12px 35px;
  border-radius: 20px;
  cursor: pointer;
  outline: none;
  border: none;
}
.active-day {
  border: 1px solid red;
  color: red;
}
.active-time {
  background-color: #f5f5f5;
  border: 1px solid red;
}

@media screen and (max-width: 799px) {
  .specific-dr-details-container {
    flex-direction: column;
    margin: 0px;
  }
  .specific-dr-details-content {
    margin-left: 0px;
  }
  .docter-img {
    width: 90%;
    align-self: center;
  }
  .specific-docter-name {
    font-size: 24px;
  }
  .dr-about {
    font-size: 15px;
  }
  .dr-expriance-p {
    font-size: 15px;
    padding-bottom: 15px;
  }
  .specific-section-third {
    margin: 0px;
  }
  .related-docters-list {
    justify-content: center;
  }
  .each-doctor-specific {
    width: 100%;
  }
  .doctor-img-specific-related {
    width: 100%;
  }
  .specific-dr-section-2 {
    margin: 20px 0px;
    margin-bottom: 50px;
  }
  .booking-date-day-container {
    overflow-x: scroll;
  }
  .booking-slots-heading {
    font-size: 18px;
  }
}
